<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianxia.app.culturehistory"
    android:versionCode="1"
    android:versionName="V1.0 Base">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application android:name=".AppApplication"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <meta-data android:value="50436ea25270156df0000021" android:name="UMENG_APPKEY" />
        <meta-data android:value="dev" android:name="UMENG_CHANNEL"/>
        <meta-data android:name="JUZI_APPID" android:value="5044a130-6b2c-4845-949a-6d4f7250b239"/>
        <meta-data android:name="MARKET_ID" android:value="dev" />
        <activity android:name="AppActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.tianxia.lib.baseworld2.BaseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity android:name=".AppSettingActivity" />
        <activity android:name="com.tianxia.lib.baseworld2.activity.DetailsActivity" />

        <activity android:name="com.tianxia.lib.baseworld2.activity.SettingAboutActivity"></activity>
        <service android:name="com.tianxia.lib.baseworld2.upgrade.AppUpgradeService"></service>

        <activity android:name="com.feedback.ui.SendFeedback" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.feedback.ui.FeedbackConversations" />
        <activity android:name="com.feedback.ui.FeedbackConversation" android:configChanges="keyboard" />

        <!-- 物品墙 -->
        <activity android:name="com.juzi.main.TheAdVirtualGoods" android:screenOrientation="portrait" />
        <!--浏览器 -->
        <activity android:name="com.juzi.main.WebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
    </application>
</manifest>
