<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianxia.app.humorjoke"
    android:versionCode="7"
    android:versionName="V2.1">
    <uses-sdk android:minSdkVersion="7"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <application android:name="com.tianxia.lib.baseworld2.youmi.AppApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/BaseTheme">
        <meta-data android:value="50553b765270152d66000146" android:name="UMENG_APPKEY" />
        <meta-data android:value="dev" android:name="UMENG_CHANNEL"/>
        <meta-data android:value="dev" android:name="YOUMI_CHANNEL" />
        <activity android:name="com.tianxia.lib.baseworld2.activity.SplashActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.tianxia.lib.baseworld2.BaseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.tianxia.lib.baseworld2.youmi.AppActivity" />
        <activity android:name="com.tianxia.lib.baseworld2.youmi.AppSettingActivity" />
        <activity android:name="com.tianxia.lib.baseworld2.youmi.AppDetailsActivity" />
        <activity android:name="com.tianxia.lib.baseworld2.activity.OptionsActivity" />
        <activity android:name="com.tianxia.lib.baseworld2.activity.RefSetActivity"></activity>
        <activity android:name="com.tianxia.lib.baseworld2.activity.ArchiverActivity"></activity>
        <activity android:name="com.tianxia.lib.baseworld2.activity.ArchiverPageActivity"></activity>
        <activity android:name="com.tianxia.lib.baseworld2.activity.RefSetSimpleActivity"></activity>
        <activity android:name="com.tianxia.lib.baseworld2.activity.SettingAboutActivity"></activity>
        <service android:name="com.tianxia.lib.baseworld2.upgrade.AppUpgradeService"></service>

        <activity android:name="com.umeng.fb.ui.SendFeedback" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversation" android:configChanges="keyboard" />

        <activity android:name="net.youmi.android.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <receiver android:name="net.youmi.android.YoumiReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
